// Root File

@import 'scss/contents.scss';

$primary-color: red;
$header-btn-width: 50px;
$header-height: 50px;

#header {
  // position: fixed;
  width: 100%;
  height: $header-height;
  background-color: rgba(255,255,255,0.9);
  -webkit-transition: transform 0.15s;
  transition: transform 0.15s;

  &.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  &.headroom--pinned {
    transform: translateY(0);
  }

  h1 {
    height: $header-height;
    line-height: $header-height;
  }

  .searchWrap {
    padding: 0;
    // height: $header-height;
    p {
      position: absolute;
      top: 0;
      right: 0;
      width: $header-btn-width;
      height: $header-height;

      &.category {
        left: 0;
        right: inherit;
      }

      a {
        display: block;
        height: 100%;
        font-size: 0;
        text-indent: -999px;
        background: {
          image: url("../layout/basic/img/menu.svg");
          size: 15px;
          position: 50%;
          repeat: no-repeat;
        }

        &.btnBasket {
          background: {
            image: url("../layout/basic/img/cart.svg");
            size: 21px;
          }
        }
      }
    }
  }
}

.prdList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  > li {
    width: 48%;
  }

  .description {
    padding: 18px 0;
    text-align: center;

    .name,
    .spec {
      font-size: 10px;
      line-height: 1;
    }

    .spec {
      padding-top: 6px;
    }
  }

  .wish {
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 21px;
    height: 18px;
    z-index: 9;

    img {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
  }
}

.ec-base-product img {
  width: 100%;
}

.xans-photoslide2-mdisplay {
  .sliderRemote button {
    span {
      background: #ff0000;
    }
    margin: 0;
    background-image: none;
    background-position: inherit;
    .prev {
      span {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 25px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
        -o-transform: rotate(135deg);
        &::after {
          position: absolute;
          content: '';
          top: 2px;
          left: 2px;
          width: 50px;
          height: 50px;
          background: #fff;
        }
      }
    }
    .next {
      span {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 25px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
        -o-transform: rotate(315deg);
        background-position: inherit;
        &::after {
          content: '';
          position: absolute;
          left: 2px;
          top: 2px;
          width: 50px;
          height: 50px;
          background: #fff;
        }
      }
    }
  }
}
