// Root File
@import 'scss/common.scss';
@import 'scss/contents.scss';
@import 'scss/slideMenu.scss';
$color-primary: #927441;
$color-regular: #333;
$color-gray: #666;
$bg-regular: #f4f4f4;
$bg-gray: #fafafa;
$header-btn-width: 50px;
$header-height: 50px;
$font-regular: 12px;
$font-normal: 11px;
$border-radius: 3px;

%time {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

%flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  margin: 0 auto;
  max-width: 768px;
}

#container::after {
  display: table;
  content: '';
  clear: both;
  overflow: hidden;
}

#header {
  // position: fixed;
  width: 100%;
  height: $header-height;
  background-color: rgba(255,255,255,0.9);
  -webkit-transition: transform 0.15s;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;

  &.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
  }

  &.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  &.headroom--pinned {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  h1 {
    height: $header-height;
    line-height: $header-height;

    a {
      @extend %flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
    }

    img {
      width: 100%;
      max-width: 126px;
    }
  }

  .searchWrap {
    padding: 0;
    // height: $header-height;
    p {
      position: absolute;
      top: 0;
      right: 0;
      width: $header-btn-width;
      height: $header-height;

      &.category {
        left: 0;
        right: inherit;
      }

      a {
        display: block;
        height: 100%;
        font-size: 0;
        text-indent: -999px;
        background: {
          image: url("../layout/basic/img/menu.svg");
          size: 15px;
          position: 50%;
          repeat: no-repeat;
        }

        &.btnBasket {
          background: {
            image: url("../layout/basic/img/cart.svg");
            size: 21px;
          }
        }
      }
    }
  }
}

#contents {
  padding-top: $header-height;

  &.main {
    padding-top: 0;
  }
}

.prdList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  > li {
    position: relative;
    width: 48%;

    .likeButton {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .description {
    padding: 8px 0 16px;
    text-align: center;

    .name,
    .spec {
      font-size: 10px;
      line-height: 1;
    }

    .spec {
      padding-top: 6px;
    }
  }

  .wish {
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 21px;
    height: 18px;
    z-index: 9;

    img {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
  }
}

.ec-base-product img {
  width: 100%;
}

.xans-photoslide2-mdisplay {
  .sliderRemote {
    button {
      margin: 0;
      position: absolute;
      display: inline-block;
      width: 25px;
      height: 25px;
      background: transparent;
      text-indent: -9999px;
      text-decoration: none;
      color: transparent;
      border: {
        top: 1px solid #111;
        left: 1px solid #111;
      }
      background-image: none;
      background-position: inherit;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:before {
        display: block;
        height: 200%;
        width: 200%;
        margin: {
          left: -50%;
          top: -50%;
        }
        content: '';
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &.prev {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        left: 12px;
      }

      &.next {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        right: 12px;
      }
    }
  }
}
// Left menu
// detail

.xans-product-detail h1.name {
  text-align: left;
}

html {
  &.expand {
    body {
      overflow: hidden;
    }

    #btnFoldLayout {
      z-index: 405;
    }

    #aside {
      left: 0;
      overflow-x: hidden;
      -webkit-box-shadow: 8px 0 32px rgba(0,0,0,0.35);
      box-shadow: 8px 0 32px rgba(0,0,0,0.35);
      z-index: 406;
    }
  }
}

#container {
  position: relative;
  overflow: hidden;
  background-color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 100;
}

#aside {
  position: fixed;
  top: 0;
  left: -70%;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  min-width: 225px;
  overflow: auto;
  overflow-x: hidden;
  background-color: $bg-gray;
  z-index: -1;
  @extend %time;

  .member {
    padding: 0 24px;
    @extend %flex;
    height: 80px;
    background-color: white;

    a.btnLogin {
      @extend %flex;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: $font-regular;
      line-height: 36px;
      color: $color-primary;
      border: 1px solid $color-primary;
      border-radius: $border-radius;
    }

    strong {
      padding-left: 6px;
      color: $color-primary;
    }
  }

  .membership {
    padding: 24px;
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    li {
      @extend %flex;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 10px;
      color: $color-gray;

      a {
        padding-left: 4px;
        font-weight: 800;
        color: $color-gray;
      }
    }
  }

  .xans-myshop-main {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: $bg-regular;

    a {
      position: relative;
      padding: 62px 3px 24px;
      @extend %flex;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: $font-normal;
      color: $color-regular;
      text-align: center;

      span {
        position: absolute;
        top: 28%;
        left: 50%;
        font-size: 21px;
        color: $color-primary;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }

  #slideCateList {
    padding: 24px 0;
  }

  .categoryList a.cate {
    padding: 15px 24px;
    font-size: $font-normal;
    color: $color-regular;
  }
}

#btnFoldLayout {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  @extend %time;
}

#btnFoldLayout.active {
  left: 70%;
  width: 30%;
  background-color: rgba(0,0,0,0.15);
  // @extend %time;
}

#dimmedSlider {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 404;
  background: none;
  // @extend %time;
}

#opt_layer_background {
  // display: none !important;
}

#opt_layer_iframe_parent {
  top: 0 !important;
  height: 100% !important;
}

#productOptionIframe {
  position: fixed;
  height: 100% !important;
  // height: 600px !important;
}
